:root {
    --size-1: 0.052vw;
    --size-2: 0.104vw;
    --size-3: 0.156vw;
    --size-4: 0.208vw;
    --size-5: 0.26vw;
    --size-6: 0.313vw;
    --size-7: 0.365vw;
    --size-8: 0.417vw;
    --size-9: 0.469vw;
    --size-10: 0.521vw;
    --size-11: 0.573vw;
    --size-12: 0.625vw;
    --size-13: 0.677vw;
    --size-14: 0.729vw;
    --size-15: 0.781vw;
    --size-16: 0.833vw;
    --size-17: 0.885vw;
    --size-18: 0.938vw;
    --size-19: 0.99vw;
    --size-20: 1.042vw;
    --size-21: 1.094vw;
    --size-22: 1.146vw;
    --size-23: 1.198vw;
    --size-24: 1.25vw;
    --size-25: 1.302vw;
    --size-26: 1.354vw;
    --size-27: 1.406vw;
    --size-28: 1.458vw;
    --size-29: 1.51vw;
    --size-30: 1.563vw;
    --size-31: 1.615vw;
    --size-32: 1.667vw;
    --size-33: 1.719vw;
    --size-34: 1.771vw;
    --size-35: 1.823vw;
    --size-36: 1.875vw;
    --size-37: 1.927vw;
    --size-38: 1.979vw;
    --size-39: 2.031vw;
    --size-40: 2.083vw;
    --size-41: 2.135vw;
    --size-42: 2.188vw;
    --size-43: 2.24vw;
    --size-44: 2.292vw;
    --size-45: 2.344vw;
    --size-46: 2.396vw;
    --size-47: 2.448vw;
    --size-48: 2.5vw;
    --size-49: 2.552vw;
    --size-50: 2.604vw;
    --size-51: 2.656vw;
    --size-52: 2.708vw;
    --size-53: 2.76vw;
    --size-54: 2.813vw;
    --size-55: 2.865vw;
    --size-56: 2.917vw;
    --size-57: 2.969vw;
    --size-58: 3.021vw;
    --size-59: 3.073vw;
    --size-60: 3.125vw;
    --size-61: 3.177vw;
    --size-62: 3.229vw;
    --size-63: 3.281vw;
    --size-64: 3.333vw;
    --size-65: 3.385vw;
    --size-66: 3.438vw;
    --size-67: 3.49vw;
    --size-68: 3.542vw;
    --size-69: 3.594vw;
    --size-70: 3.646vw;
    --size-71: 3.698vw;
    --size-72: 3.75vw;
    --size-73: 3.802vw;
    --size-74: 3.854vw;
    --size-75: 3.906vw;
    --size-76: 3.958vw;
    --size-77: 4.01vw;
    --size-78: 4.063vw;
    --size-79: 4.115vw;
    --size-80: 4.167vw;
    --size-81: 4.219vw;
    --size-82: 4.271vw;
    --size-83: 4.323vw;
    --size-84: 4.375vw;
    --size-85: 4.427vw;
    --size-86: 4.479vw;
    --size-87: 4.531vw;
    --size-88: 4.583vw;
    --size-89: 4.635vw;
    --size-90: 4.688vw;
    --size-91: 4.74vw;
    --size-92: 4.792vw;
    --size-93: 4.844vw;
    --size-94: 4.896vw;
    --size-95: 4.948vw;
    --size-96: 5vw;
    --size-97: 5.052vw;
    --size-98: 5.104vw;
    --size-99: 5.156vw;
    --size-100: 5.208vw;
    --size-105: 5.469vw;
    --size-108: 5.625vw;
    --size-110: 5.729vw;
    --size-115: 5.99vw;
    --size-117: 6.094vw;
    --size-120: 6.25vw;
    --size-125: 6.51vw;
    --size-130: 6.771vw;
    --size-132: 6.875vw;
    --size-135: 7.031vw;
    --size-140: 7.292vw;
    --size-142: 7.396vw;
    --size-150: 7.813vw;
    --size-154: 8.021vw;
    --size-155: 8.073vw;
    --size-160: 8.333vw;
    --size-165: 8.594vw;
    --size-170: 8.854vw;
    --size-172: 8.958vw;
    --size-174: 9.063vw;
    --size-175: 9.115vw;
    --size-180: 9.375vw;
    --size-188: 9.792vw;
    --size-190: 9.896vw;
    --size-192: 10vw;
    --size-197: 10.26vw;
    --size-200: 10.417vw;
    --size-206: 10.729vw;
    --size-210: 10.938vw;
    --size-220: 11.458vw;
    --size-222: 11.563vw;
    --size-225: 11.719vw;
    --size-230: 11.979vw;
    --size-232: 12.083vw;
    --size-238: 12.396vw;
    --size-240: 12.5vw;
    --size-242: 12.604vw;
    --size-245: 12.76vw;
    --size-248: 12.917vw;
    --size-250: 13.021vw;
    --size-255: 13.281vw;
    --size-260: 13.542vw;
    --size-266: 13.854vw;
    --size-270: 14.063vw;
    --size-275: 14.323vw;
    --size-278: 14.479vw;
    --size-280: 14.583vw;
    --size-282: 14.688vw;
    --size-290: 15.104vw;
    --size-295: 15.365vw;
    --size-300: 15.625vw;
    --size-310: 16.146vw;
    --size-315: 16.406vw;
    --size-320: 16.667vw;
    --size-330: 17.188vw;
    --size-335: 17.448vw;
    --size-340: 17.708vw;
    --size-344: 17.917vw;
    --size-345: 17.969vw;
    --size-350: 18.229vw;
    --size-360: 18.75vw;
    --size-366: 19.063vw;
    --size-370: 19.271vw;
    --size-371: 19.323vw;
    --size-375: 19.531vw;
    --size-380: 19.792vw;
    --size-385: 20.052vw;
    --size-390: 20.313vw;
    --size-396: 20.625vw;
    --size-400: 20.833vw;
    --size-410: 21.354vw;
    --size-420: 21.875vw;
    --size-425: 22.135vw;
    --size-430: 22.396vw;
    --size-432: 22.5vw;
    --size-440: 22.917vw;
    --size-450: 23.438vw;
    --size-457: 23.802vw;
    --size-460: 23.958vw;
    --size-470: 24.479vw;
    --size-471: 24.531vw;
    --size-474: 24.688vw;
    --size-480: 25vw;
    --size-490: 25.521vw;
    --size-493: 25.677vw;
    --size-498: 25.938vw;
    --size-500: 26.042vw;
    --size-506: 26.354vw;
    --size-510: 26.563vw;
    --size-517: 26.927vw;
    --size-520: 27.083vw;
    --size-530: 27.604vw;
    --size-535: 27.865vw;
    --size-550: 28.646vw;
    --size-560: 29.167vw;
    --size-567: 29.531vw;
    --size-570: 29.688vw;
    --size-580: 30.208vw;
    --size-585: 30.469vw;
    --size-590: 30.729vw;
    --size-593: 30.885vw;
    --size-595: 30.99vw;
    --size-600: 31.25vw;
    --size-620: 32.292vw;
    --size-657: 34.219vw;
    --size-668: 34.792vw;
    --size-675: 35.156vw;
    --size-690: 35.938vw;
    --size-700: 36.458vw;
    --size-720: 37.5vw;
    --size-768: 40vw;
    --size-769: 40.052vw;
    --size-777: 40.469vw;
    --size-800: 41.667vw;
    --size-825: 42.969vw;
    --size-830: 43.229vw;
    --size-835: 43.49vw;
    --size-837: 43.594vw;
    --size-840: 43.75vw;
    --size-850: 44.271vw;
    --size-888: 46.25vw;
    --size-896: 46.667vw;
    --size-900: 46.875vw;
    --size-925: 48.177vw;
    --size-950: 49.479vw;
    --size-954: 49.688vw;
    --size-970: 50.521vw;
    --size-999: 52.031vw;
    --size-1000: 52.083vw;
    --size-1025: 53.333vw;
    --size-1040: 54.167vw;
    --size-1068: 55.625vw;
    --size-1090: 56.771vw;
    --size-1095: 57.031vw;
    --size-1120: 58.333vw;
    --size-1150: 59.896vw;
    --size-1198: 62.396vw;
    --size-1200: 62.5vw;
    --size-1250: 65.104vw;
    --size-1314: 68.438vw;
    --size-1340: 69.792vw;
    --size-1350: 70.313vw;
    --size-1450: 75.521vw;
}